{% extends "RupestreApp/base1.html" %}

{% load static %}
{% block title %} WakaTur │ Mapa {% endblock %}
{% block content %}
<!-- MAPA -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="{% static 'css/mapa.css' %}">	

<section style="width: 100%; height: 100vh;">
    <div id="mapa" style="width: 100%; height: 100%;"></div>
    <button id="backToHome" style="position: absolute; top: 140px; left: 5px; z-index: 1000;">Inicio</button>
</section>

<!-- Pasar las Rutas Estáticas al Archivo JavaScript -->
<script>
    var staticUrls = {
        turismoIcon: "{% static 'images/mapa/marker-icon-2x-green.png' %}",
        Shadow: "{% static 'images/mapa/marker-shadow.png' %}",
        alojamientosIcon: "{% static 'images/mapa/marker-icon-2x-violet.png' %}",
        gastronomiaIcon: "{% static 'images/mapa/marker-icon-2x-gold.png' %}",
        aventuraIcon: "{% static 'images/mapa/marker-icon-2x-blue.png' %}",
        serviciosIcon: "{% static 'images/mapa/marker-icon-2x-grey.png' %}",
        tiendasIcon: "{% static 'images/mapa/marker-icon-2x-orange.png' %}",
        contactoIcon: "{% static 'images/mapa/marker-icon-2x-black.png' %}",
        geoIcon: "{% static 'images/mapa/marker-yo.png' %}",
        milestoneIcon: "{% static 'images/iconos/milestone_1.png' %}",
        hImage: "{% static 'images/alojamientos/h.jpg' %}",
        lavapatasImage: "{% static 'images/inicio/lavapatas.jpg' %}",
        dondeRichard1Image: "{% static 'images/gastronomia/dondeRichard1.jpg' %}",
        doñaNury1Image: "{% static 'images/gastronomia/doñaNury1.jpg' %}",
        malibu1Image: "{% static 'images/gastronomia/malibu1.jpg' %}",
        r2Image: "{% static 'images/gastronomia/r2.jpg' %}",
        logofImage: "{% static 'images/iconos/logof.svg' %}",
        logofbravoImage: "{% static 'images/iconos/logofbravo.png' %}",
    };

    var homeUrl = "{% url 'Inicio' %}";
</script>

<!-- Llamado al Archivo JavaScript -->  
<script src="{% static 'js/mapa.js' %}"></script>

{% endblock %}