{% extends "RupestreApp/base1.html" %}

{% load static %}
{% block title %}	Rupestre │ Iniciar Sesión	{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="styles/contact_responsive.css"> 
<!-- Home -->

<div class="super_container">
  <br><br><br><br><br><br><br>
  <div class="row">
    
    <div class="col-md-4 mx-auto">
      <div class="card mt-4 text-center">
        <div class="card-header">
          <h1 class="h4">Rupestre</h1>
        </div>
        <div class="card-body">
          <form method="POST"> 
            {% csrf_token %}            
            <div class="form-group">
              <input type="text" id="username"name="username" placeholder="Usuario" class="form-control" autofocus> 
            </div>
            <div class="form-group">
              <input type="password" id="password" name="password" placeholder="Contraseña" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" value="IniciarSesion"class="btn btn-success btn-block">
                Iniciar Sesión
              </button>
            </div>
          </form>
          {{primerNombre}}
          {{apellido}}
        </div>
      </div>
    </div>
  </div>

{% endblock %} 
